body{
    text-align: center;
    background-image: src = https://previews.123rf.com/images/vectorpack/vectorpack1903/vectorpack190300036/121667139-repetitive-line-network-with-dots-vector-format-cool-wallpaper-with-blue-background-and-white-compli.jpg
}
img{
    height: 50%;
}